.row-1 {
    height: 11vh;
    width: 100%;
    background-color: lightgray;
}

.row-1-box {
    height: 70px;
    width: 70px;
    background-color: #4A90E2;
    position: relative;
    left: 20px;
    top: 5px;
}

.text-box {
    padding: 50px;
    font-family: Arial;
    font-size: 150%;
    margin-left: 60px;
    color: darkslategray;
}

.row-2 {
    height: 25vh;
    width: 100%;
    background-color: whitesmoke;

}

.row-3 {
    height: 16vh;
    width: 100%;
    background-color: #4A90E2;

}

.row-4 {
    height: 16vh;
    width: 100%;
    background-color: #50E3C2;
}

.row-5{
    height: 16vh;
    width: 100%;
    background-color: #B8E986;
}

.row-6 {
    height: 16vh;
    width: 100%;
    background-color: #F8E71C;
}